@layout FullPage
@page "/"
@inject IJSRuntime JS;
@inject IImageService imgService  

<div class="map-container">
    <div id="map"></div>
</div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12 offset-md-2">
                    <TimeLine Dates=@Dates class="mb-2" @bind-SelectedDateIndex="@SelectedIndex"></TimeLine>
                </div>
            </div>
        </div>
    </div>

<ImageModal @ref="@Imagemodal" Image="@SelectedImage"></ImageModal>

@if(IsFirstModalVisibile)
{
    <FirstModal @ref="@FirstModal" OnCloseCallback="@CloseFirstModal"></FirstModal>
}


@code {
    /*
    * Proprietà
    */
    private List<string> Dates = new List<string>() { "Test","1944", "1957", "1980", "2000" };

    private int SelectedIndex { get; set; } = 0;

    private ImageModal Imagemodal { get; set; }
    private FirstModal FirstModal { get; set; }
    private bool IsFirstModalVisibile { get; set; } = true;

    private ImageData SelectedImage { get; set; } = new ImageData();

    private static Action<int> action;

    IJSObjectReference module;

    /*
    * Metodi
    */
    protected override async void OnInitialized()
    {
        module = await JS
        .InvokeAsync<IJSObjectReference>("import", "./js/test.js");

        await module.InvokeVoidAsync("InitializeTestMap");

        //Assegna static action alla chiamata per aprire il modal
        action = CallTestModal;

        IsFirstModalVisibile = true;
    }

    protected void CloseFirstModal()
    {
        IsFirstModalVisibile = false;
    }


    [JSInvokable]
    public static void UpdateMessageCaller(int selectedIndex)
    {
        action.Invoke(selectedIndex);
    }


    protected void CallTestModal(int index)
    {
        SelectedImage = imgService.Immagini[index];
        StateHasChanged();
        Imagemodal.Open();
    }
}

<style>
    .map-container{
        height: 90vh;
        position:relative;
    }

    #map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #eae1d3;
    }

    .footer {
      margin-top:25px;
      height:50px;
    }

</style>